@font-face {
  font-family: 'CFAstyStd-Bold';
  src: url('../fonts/CFAstyStd-Bold/CFAstyStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyStd-Bold/CFAstyStd-Bold.otf')  format('opentype'),
	     url('../fonts/CFAstyStd-Bold/CFAstyStd-Bold.woff') format('woff'), url('../fonts/CFAstyStd-Bold/CFAstyStd-Bold.ttf')  format('truetype'), url('../fonts/CFAstyStd-Bold/CFAstyStd-Bold.svg#CFAstyStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CFAstyStd-Book';
  src: url('../fonts/CFAstyStd-Book/CFAstyStd-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyStd-Book/CFAstyStd-Book.otf')  format('opentype'),
	     url('../fonts/CFAstyStd-Book/CFAstyStd-Book.woff') format('woff'), url('../fonts/CFAstyStd-Book/CFAstyStd-Book.ttf')  format('truetype'), url('../fonts/CFAstyStd-Book/CFAstyStd-Book.svg#CFAstyStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CFAstyStd-Medium';
  src: url('../fonts/CFAstyStd-Medium/CFAstyStd-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyStd-Medium/CFAstyStd-Medium.otf')  format('opentype'),
	     url('../fonts/CFAstyStd-Medium/CFAstyStd-Medium.woff') format('woff'), url('../fonts/CFAstyStd-Medium/CFAstyStd-Medium.ttf')  format('truetype'), url('../fonts/CFAstyStd-Medium/CFAstyStd-Medium.svg#CFAstyStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
