
/**
 * Colors
 */
$base: #00c9b7;
$purple: #7160c1;
$purple-transparent: rgba(113,96,193,.5);
$light-grey: #aaaaaa;
$grey: #333333;
$white: white;
$alert: #f44336;
$overlay: rgba(0,151,167 ,.33);

/**
 * Sizes
 */
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;

/**
 * Fonts
 */
$font-book: 'CFAstyStd-Book','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'CFAstyStd-Bold','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-medium: 'CFAstyStd-Medium','Helvetica Neue', Helvetica, Arial, sans-serif;
